html, body, div, span, applet, object,iframe, h1, h2, h3, h4, h5, h6, p, blockquote,pre, a, abbr, acronym, address, big, cite,code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b,u, i, center, dl, dt, dd, ol, ul, li, fieldset,form, label, legend, table, caption, tbody,tfoot, thead, tr, th, td, article, aside,canvas, details, embed, figure, figcaption,footer, header, hgroup, menu, nav, output, ruby,section, summary, time, mark, audio, video {
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: "DFKai-sb";
}
.header{
	position: relative;
	background-image: url("../../HTML/html5up-helios/images/MH 04.jpg");
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	color: #000;
	text-align: center;
	padding: 2.5em 0 2em 0;
	cursor: default;
	top:0px;
}
#nav {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	padding: 1.5em 0 1.5em 0;
	z-index: 1;
	overflow: hidden;
}
	#nav > ul {
		line-height: 0px;
		position: relative;
		display: inline-block;
		margin: 0;
		height: 21px;
		border-left: solid 2px rgba(100, 100, 100, 0.35);
		border-right: solid 2px rgba(100, 100, 100, 0.35);
	}

	#nav > ul:before, #nav > ul:after {
		content: '';
		display: block;
		width: 300%;
		position: absolute;
		top: 50%;
		margin-top: -2px;
		height: 5px;
		border-top: solid 2px rgba(100, 100, 100, 0.35);
		border-bottom: solid 2px rgba(100, 100, 100, 0.35);
	}
		#nav > ul:before {
		left: 100%;
		margin-left: 1px;
	}
	#nav > ul:after {
		right: 100%;
		margin-right: 1px;
	}
			
		#nav > ul >li:hover {
			color: red ;
		}

		#nav > ul > li {
			display: inline-block;
			margin: -9px 0.5em 0 0.5em;
			border-radius: 0.5em;
			padding: 0.85em;
			border: solid 1px transparent;
			-moz-transition: color 0.35s ease-in-out, border-color 0.35s ease-in-out;
			-webkit-transition: color 0.35s ease-in-out, border-color 0.35s ease-in-out;
			-ms-transition: color 0.35s ease-in-out, border-color 0.35s ease-in-out;
			transition: color 0.35s ease-in-out, border-color 0.35s ease-in-out;
		}
		#nav > ul > li.active {
			border-color: rgba(192, 192, 192, 0.35);
		}

			#nav > ul > li > a, #nav > ul > li > span {
				display: block;
				color: inherit;
				text-decoration: none;
				border: 0;
				outline: 0;
			}

			#nav > ul > li > ul {
				display: none;
			}
.sidebar{
	z-index:200;
	width:40px;
	height:90%;
	top:5%;
	position: relative;
	overflow-y: auto;
}
.footer{
	width:100%;
	position:fixed;
	bottom:0px; 
}
.footer > container{
	text-align: center;
	padding: 3.5em 0 2em 0;
	cursor: default;
	position: relative;
}
#pre_text, #sub_text, #request_text{
	margin-block-end: 0em !important;
	font-size: 14px;
	line-height: 0.85em;
}
.type_button{
	top:0px;
	text-align: center;
	font-size: 14px;
	padding: 0.2em 0.9em 0em 0.9em;
	border-bottom-right-radius: 0em;
	border-bottom-left-radius: 0em;
}

.button_small{
	top:0px;
	text-align: center;
	font-size: 14px;
	padding: 0.2em 0.9em 0.2em 0.9em;
}