    /*
    Flaticon icon font: Flaticon
    Creation date: 12/04/2018 10:00
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-001-safari:before { content: "\f100"; }
.flaticon-002-apple-22:before { content: "\f101"; }
.flaticon-003-apple-21:before { content: "\f102"; }
.flaticon-004-apple-20:before { content: "\f103"; }
.flaticon-005-apple-19:before { content: "\f104"; }
.flaticon-006-apple-18:before { content: "\f105"; }
.flaticon-007-ibooks:before { content: "\f106"; }
.flaticon-008-apple-17:before { content: "\f107"; }
.flaticon-009-apple-16:before { content: "\f108"; }
.flaticon-010-apple-15:before { content: "\f109"; }
.flaticon-011-apple-14:before { content: "\f10a"; }
.flaticon-012-apple-13:before { content: "\f10b"; }
.flaticon-013-apple-12:before { content: "\f10c"; }
.flaticon-014-apple-11:before { content: "\f10d"; }
.flaticon-015-podcast:before { content: "\f10e"; }
.flaticon-016-apple-10:before { content: "\f10f"; }
.flaticon-017-apple-9:before { content: "\f110"; }
.flaticon-018-apple-8:before { content: "\f111"; }
.flaticon-019-apple-7:before { content: "\f112"; }
.flaticon-020-apple-6:before { content: "\f113"; }
.flaticon-021-apple-5:before { content: "\f114"; }
.flaticon-022-beats-pill:before { content: "\f115"; }
.flaticon-023-apple-4:before { content: "\f116"; }
.flaticon-024-music-memos:before { content: "\f117"; }
.flaticon-025-apple-3:before { content: "\f118"; }
.flaticon-026-itunes-3:before { content: "\f119"; }
.flaticon-027-apple-2:before { content: "\f11a"; }
.flaticon-028-music:before { content: "\f11b"; }
.flaticon-029-itunes-2:before { content: "\f11c"; }
.flaticon-030-itunes-1:before { content: "\f11d"; }
.flaticon-031-apple-1:before { content: "\f11e"; }
.flaticon-032-keynote:before { content: "\f11f"; }
.flaticon-033-pages:before { content: "\f120"; }
.flaticon-034-garage-band:before { content: "\f121"; }
.flaticon-035-apple-tv:before { content: "\f122"; }
.flaticon-036-apple:before { content: "\f123"; }
.flaticon-037-movie:before { content: "\f124"; }
.flaticon-038-app-store:before { content: "\f125"; }
.flaticon-039-itunes:before { content: "\f126"; }
.flaticon-040-files:before { content: "\f127"; }
.flaticon-041-stocks:before { content: "\f128"; }
.flaticon-042-reminder:before { content: "\f129"; }
.flaticon-043-notes:before { content: "\f12a"; }
.flaticon-044-video:before { content: "\f12b"; }
.flaticon-045-clock:before { content: "\f12c"; }
.flaticon-046-weather:before { content: "\f12d"; }
.flaticon-047-camera:before { content: "\f12e"; }
.flaticon-048-photos:before { content: "\f12f"; }
.flaticon-049-calendar:before { content: "\f130"; }
.flaticon-050-message:before { content: "\f131"; }
    
    $font-Flaticon-001-safari: "\f100";
    $font-Flaticon-002-apple-22: "\f101";
    $font-Flaticon-003-apple-21: "\f102";
    $font-Flaticon-004-apple-20: "\f103";
    $font-Flaticon-005-apple-19: "\f104";
    $font-Flaticon-006-apple-18: "\f105";
    $font-Flaticon-007-ibooks: "\f106";
    $font-Flaticon-008-apple-17: "\f107";
    $font-Flaticon-009-apple-16: "\f108";
    $font-Flaticon-010-apple-15: "\f109";
    $font-Flaticon-011-apple-14: "\f10a";
    $font-Flaticon-012-apple-13: "\f10b";
    $font-Flaticon-013-apple-12: "\f10c";
    $font-Flaticon-014-apple-11: "\f10d";
    $font-Flaticon-015-podcast: "\f10e";
    $font-Flaticon-016-apple-10: "\f10f";
    $font-Flaticon-017-apple-9: "\f110";
    $font-Flaticon-018-apple-8: "\f111";
    $font-Flaticon-019-apple-7: "\f112";
    $font-Flaticon-020-apple-6: "\f113";
    $font-Flaticon-021-apple-5: "\f114";
    $font-Flaticon-022-beats-pill: "\f115";
    $font-Flaticon-023-apple-4: "\f116";
    $font-Flaticon-024-music-memos: "\f117";
    $font-Flaticon-025-apple-3: "\f118";
    $font-Flaticon-026-itunes-3: "\f119";
    $font-Flaticon-027-apple-2: "\f11a";
    $font-Flaticon-028-music: "\f11b";
    $font-Flaticon-029-itunes-2: "\f11c";
    $font-Flaticon-030-itunes-1: "\f11d";
    $font-Flaticon-031-apple-1: "\f11e";
    $font-Flaticon-032-keynote: "\f11f";
    $font-Flaticon-033-pages: "\f120";
    $font-Flaticon-034-garage-band: "\f121";
    $font-Flaticon-035-apple-tv: "\f122";
    $font-Flaticon-036-apple: "\f123";
    $font-Flaticon-037-movie: "\f124";
    $font-Flaticon-038-app-store: "\f125";
    $font-Flaticon-039-itunes: "\f126";
    $font-Flaticon-040-files: "\f127";
    $font-Flaticon-041-stocks: "\f128";
    $font-Flaticon-042-reminder: "\f129";
    $font-Flaticon-043-notes: "\f12a";
    $font-Flaticon-044-video: "\f12b";
    $font-Flaticon-045-clock: "\f12c";
    $font-Flaticon-046-weather: "\f12d";
    $font-Flaticon-047-camera: "\f12e";
    $font-Flaticon-048-photos: "\f12f";
    $font-Flaticon-049-calendar: "\f130";
    $font-Flaticon-050-message: "\f131";