	/*
  	Flaticon icon font: Flaticon
  	Creation date: 12/04/2018 10:00
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-001-safari:before { content: "\f100"; }
.flaticon-002-apple-22:before { content: "\f101"; }
.flaticon-003-apple-21:before { content: "\f102"; }
.flaticon-004-apple-20:before { content: "\f103"; }
.flaticon-005-apple-19:before { content: "\f104"; }
.flaticon-006-apple-18:before { content: "\f105"; }
.flaticon-007-ibooks:before { content: "\f106"; }
.flaticon-008-apple-17:before { content: "\f107"; }
.flaticon-009-apple-16:before { content: "\f108"; }
.flaticon-010-apple-15:before { content: "\f109"; }
.flaticon-011-apple-14:before { content: "\f10a"; }
.flaticon-012-apple-13:before { content: "\f10b"; }
.flaticon-013-apple-12:before { content: "\f10c"; }
.flaticon-014-apple-11:before { content: "\f10d"; }
.flaticon-015-podcast:before { content: "\f10e"; }
.flaticon-016-apple-10:before { content: "\f10f"; }
.flaticon-017-apple-9:before { content: "\f110"; }
.flaticon-018-apple-8:before { content: "\f111"; }
.flaticon-019-apple-7:before { content: "\f112"; }
.flaticon-020-apple-6:before { content: "\f113"; }
.flaticon-021-apple-5:before { content: "\f114"; }
.flaticon-022-beats-pill:before { content: "\f115"; }
.flaticon-023-apple-4:before { content: "\f116"; }
.flaticon-024-music-memos:before { content: "\f117"; }
.flaticon-025-apple-3:before { content: "\f118"; }
.flaticon-026-itunes-3:before { content: "\f119"; }
.flaticon-027-apple-2:before { content: "\f11a"; }
.flaticon-028-music:before { content: "\f11b"; }
.flaticon-029-itunes-2:before { content: "\f11c"; }
.flaticon-030-itunes-1:before { content: "\f11d"; }
.flaticon-031-apple-1:before { content: "\f11e"; }
.flaticon-032-keynote:before { content: "\f11f"; }
.flaticon-033-pages:before { content: "\f120"; }
.flaticon-034-garage-band:before { content: "\f121"; }
.flaticon-035-apple-tv:before { content: "\f122"; }
.flaticon-036-apple:before { content: "\f123"; }
.flaticon-037-movie:before { content: "\f124"; }
.flaticon-038-app-store:before { content: "\f125"; }
.flaticon-039-itunes:before { content: "\f126"; }
.flaticon-040-files:before { content: "\f127"; }
.flaticon-041-stocks:before { content: "\f128"; }
.flaticon-042-reminder:before { content: "\f129"; }
.flaticon-043-notes:before { content: "\f12a"; }
.flaticon-044-video:before { content: "\f12b"; }
.flaticon-045-clock:before { content: "\f12c"; }
.flaticon-046-weather:before { content: "\f12d"; }
.flaticon-047-camera:before { content: "\f12e"; }
.flaticon-048-photos:before { content: "\f12f"; }
.flaticon-049-calendar:before { content: "\f130"; }
.flaticon-050-message:before { content: "\f131"; }